---
layout: default
title: GrimoireCon Europe 2018 - Grimoire Lab Open Source Development Analytics Conference
description: GrimoireCon is the conference for open source and inner source project managers and developers to learn about Grimoire Lab platform for software development analytics.
sections:
  - name: Summary
    link: \con/#summary
  - name: Keynotes
    link: \con/#keynotes
  - name: Registration
    link: \con/#registration
  - name: Code of Conduct
    link: \con/#coc
---
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>GrimoireCon Europa 2018</h1>
        <p><em>still planning</em></p>
      </div>
      <div class="col-md-6">
        <p>Brussles</p>
      </div>
    </div>
  </div>
</header>

<section id="summary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Conference &amp; Workshops</h2>
        <hr class="star-primary">
      </div>
      <div class="row">

        <div class="col-md-6">
          <p>Meet the 100% open source software development analytics platform used by several open source projects, communitites, engineering teams to track and analyze their development activities, communities health, diversity, etc.</p>
          <p>This conference will show <a href="http://grimoirelab.github.io">GrimoireLab</a> updates, use cases and practical workshop/s for developers, community managers, project managers, etc.</p>
          <p>The workshop/s will cover the basic training for using open source Grimoire toolkit for tracking Open Source and Inner Source software development processes to manage them through metrics and KPIs.</p>
          <p>Community managers, software development managers, developers and generally anyone involved in Open Source and Inner Source software development will learn through real examples how to set up and use Grimoire for their specific needs.</p>
        </div>

        <div class="col-md-6">
          <h3>Agenda <small>work in progress</small></h3>

          <h3>Venue</h3>
          <p><em>still planning</em></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="keynotes" style="background: #eee;">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Confirmed keynotes</h2>
    </div>

    {% for speaker in site.data.conf_speakers %}
    <div class="row">
      <div class="col-sm-2">
        <a href="{{speaker.link}}" target="_blank"><img src="{{speaker.image}}" alt="{{speaker.name}}" class="img-responsive"></a>
      </div>
      <div class="col-sm-10" style="font-size: .8em;">
        <h3>{{speaker.title}}</h3>
        <h4>{{speaker.name}} <small>{{speaker.company}}</small></h4>
        {{speaker.description}}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="success" id="registration">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Get your tickets!</h2>
      <p>The registration process is not open yet.</p>

    </div>

    <!--

    <div class="row">
      <div class="col-lg-12">
        <p>We have some free tickets for teachers, students and researchers. Feel free to <a style="color: #fff;" href="mailto:info@bitergia.com">contact us</a> asking for them before they are over</p>
      </div>
    </div>
  -->
  </div>
</section>

{% include coc.html %}
