---
layout: default
title: GrimoireCon Europe 2018 - GrimoireLab Open Source Development Analytics Conference
description: GrimoireCon is the conference for open source and inner source project managers and developers to learn about GrimoireLab platform for software development analytics.
sections:
  - name: Summary
    link: \con/#summary
  - name: Keynotes
    link: \con/#keynotes
  - name: Registration
    link: \con/#registration
  - name: Code of Conduct
    link: \con/#coc
---
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/img/wizard-y.svg" height="64px" alt="">
        <img src="/img/Chaoss_Logo_Pantone2.png" alt="CHAOSS: Community Health Analytics for Open Source Software" height="32px">
        <h1>GrimoireCon Europa 2018</h1>
        <p>Feb. 2<sup>nd</sup>, 2018</p>
        <p>Brussels</p>
      </div>
    </div>
  </div>
</header>

<section id="summary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Conference &amp; Workshops</h2>
        <hr class="star-primary">
      </div>
      <div class="row">

        <div class="col-md-7">
          <p>Meet the 100% open source software development analytics platform used by several open source projects, communitites, engineering teams to track and analyze their development activities, communities health, diversity, etc. Join the <a href="http://chaoss.community">CHAOSS</a> the software community!</p>
          <p>This conference will show <a href="http://grimoirelab.github.io">GrimoireLab</a> updates, use cases and practical workshop/s for developers, community managers, project managers, etc.</p>
          <p>The workshop/s will cover the basic training for using open source GrimoireLab toolkit for analyzing software development processes to manage them through metrics and KPIs.</p>
          <p>Community managers, software development managers, developers and generally anyone involved in Open Source and Inner Source software development will learn through real examples how to set up and use Grimoire for their specific needs.</p>
        </div>

        <div class="col-md-5">
          <h3>Agenda <small>work in progress</small></h3>

          <h3>Venue</h3>
          <address>Hotel ibis Brussels Centre St Catherine (<a href="https://goo.gl/maps/5b6h9BmtFKJ2">map</a>)<br/>
            rue Joseph Plateau N°2<br/>
            1000 Brussels</br>
            Belgium<br/></address>
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2518.9541084073494!2d4.347142415745921!3d50.850534079532565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c387076c4653%3A0x3a13a67b582992ca!2sHotel+ibis+Brussels+Centre+St+Catherine!5e0!3m2!1ses!2ses!4v1508481277415" height="350" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="keynotes" style="background: #eee;">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Confirmed keynotes</h2>
      <p><em>to be announced soon</em></p>
    </div>

    {% for speaker in site.data.conf_speakers %}
    <div class="row">
      <div class="col-sm-2">
        <a href="{{speaker.link}}" target="_blank"><img src="{{speaker.image}}" alt="{{speaker.name}}" class="img-responsive"></a>
      </div>
      <div class="col-sm-10" style="font-size: .8em;">
        <h3>{{speaker.title}}</h3>
        <h4>{{speaker.name}} <small>{{speaker.company}}</small></h4>
        {{speaker.description}}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="success" id="registration">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Get your tickets!</h2>
      <div style="width:100%; text-align:left;"><iframe src="//eventbrite.es/tickets-external?eid=39108246819&ref=etckt" frameborder="0" height="393" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.es/">Eventbrite Tech</a></div></div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p>There are some free tickets for teachers, students and researchers. Feel free to <a style="color: #fff;" href="mailto:info@bitergia.com">ask for them</a> before they are over</p>
      </div>
    </div>

  </div>
</section>

{% include coc.html %}
