[submodule "src/grimoirelab-sortinghat"]
	path = src/grimoirelab-sortinghat
	url = https://github.com/chaoss/grimoirelab-sortinghat.git
[submodule "src/grimoirelab-perceval"]
	path = src/grimoirelab-perceval
	url = https://github.com/chaoss/grimoirelab-perceval.git
[submodule "src/grimoirelab-perceval-mozilla"]
	path = src/grimoirelab-perceval-mozilla
	url = https://github.com/chaoss/grimoirelab-perceval-mozilla.git
[submodule "src/grimoirelab-perceval-weblate"]
	path = src/grimoirelab-perceval-weblate
	url = https://github.com/chaoss/grimoirelab-perceval-weblate.git
[submodule "src/grimoirelab-perceval-puppet"]
	path = src/grimoirelab-perceval-puppet
	url = https://github.com/chaoss/grimoirelab-perceval-puppet.git
[submodule "src/grimoirelab-perceval-opnfv"]
	path = src/grimoirelab-perceval-opnfv
	url = https://github.com/chaoss/grimoirelab-perceval-opnfv.git
[submodule "src/grimoirelab-toolkit"]
	path = src/grimoirelab-toolkit
	url = https://github.com/chaoss/grimoirelab-toolkit.git
[submodule "src/grimoirelab-chronicler"]
	path = src/grimoirelab-chronicler
	url = https://github.com/grimoirelab/grimoirelab-chronicler.git
[submodule "src/grimoirelab-core"]
	path = src/grimoirelab-core
	url = https://github.com/grimoirelab/grimoirelab-core.git
