grimoirelab==0.7.2
grimoirelab-toolkit==0.3.3-rc.1
perceval==0.21.2-rc.4
perceval-mozilla==0.3.6-rc.4
perceval-opnfv==0.2.6-rc.4
perceval-puppet==0.2.6-rc.4
perceval-weblate==0.2.6-rc.4
grimoire-elk==0.104.0-rc.7
sortinghat==0.8.0-rc.8
kidash==0.5.3-rc.2
grimoirelab-panels==0.2.0-rc.1
sirmordred==0.6.0-rc.3
cereslib==0.3.6-rc.2
graal==0.4.3-rc.4
