grimoirelab==1.22.0
grimoirelab-toolkit==1.2.8
perceval==1.6.0
perceval-mozilla==1.2.10
perceval-opnfv==1.1.10
perceval-puppet==1.1.10
perceval-weblate==1.1.10
grimoire-elk==1.8.2
sortinghat==1.15.1
kidash==1.1.10
grimoirelab-panels==1.2.0
sirmordred==1.2.12
cereslib==1.1.10
graal==1.2.10
