grimoirelab==0.23.0-rc.1
grimoirelab-toolkit==0.4.4-rc.1
perceval==0.24.1-rc.1
perceval-mozilla==0.4.2-rc.1
perceval-opnfv==0.2.24-rc.1
perceval-puppet==0.2.24-rc.1
perceval-weblate==0.2.24-rc.1
grimoire-elk==0.111.0-rc.1
sortinghat==0.21.1-rc.1
kidash==0.6.8-rc.1
grimoirelab-panels==0.3.0
sirmordred==0.10.10-rc.1
cereslib==0.5.5-rc.1
graal==0.4.24-rc.1
