<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Grimoire Lab is an evolution of the work done during last years in <a href="http://metricsgrimoire.github.io">Metrics Grimoire</a>, <a href="http://visgrimoire.github.io">VisGrimorie and GrimoireLib</a> projects, to provide a new way for <em>Open Development Analytics</em>.</p>
                </div>
                <div class="col-lg-4">
                    <p>These set of tools will be always Free Open Source Software, so feel free to contribute!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://github.com/GrimoireLab" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i> Check our repository
                    </a>
                </div>
            </div>
        </div>
    </section>
