<section id="coc">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Code of Conduct</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-md-6">
            <p><abbr title="Grimoire Conference">GrimoireCon</abbr> is a conference intended to allow networking and collaboration. We are therefore committed to providing a safe and welcoming environment to all participants. To make it clear what is expected, all attendees and staff are expected to conform to the following code of conduct.</p>

            <p>Exhibitors, speakers, sponsors, staff and all other attendees at events organized by Bitergia are subject to this Code of Conduct. We are dedicated to providing a harassment-free experience for everyone, and we do not tolerate harassment of participants in any form.</p>

            <p>We ask you to be considerate of others and behave professionally and respectfully to all other participants. Remember that sexual language and imagery is not appropriate for any event venue, including talks. Participants violating these rules may be sanctioned or expelled from the event without a refund at the discretion of the organizers.</p>

            <p>Harassment includes offensive verbal comments related to gender, gender identity or expression, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
          </div>
          <div class="col-md-6">
            <p>If a participant engages in harassing behavior, the event organizers may take any action they deem appropriate, including warning the offender or expulsion from the event with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the event staff immediately.</p>

            <p>Event staff will be happy to help participants address concerns. All reports will be treated as confidential. We strongly encourage you to address your issues privately with any of our staff members who are organizing the event. We encourage you to avoid disclosing information about the incident until the staff have had sufficient time in which to address the situation. Please also keep in mind that public shaming can be counter-productive to building a strong community. We do not condone nor participate in such actions.</p>

            <p>We value your attendance. If you cannot find a member of the event staff or are not comfortable contacting one of the staff, you can alternatively contact info@bitergia.com.</p>

            <p>We expect all participants to follow these rules at all event venues and related social events.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
