<!-- Footer -->
  <footer class="text-center">
      <div class="footer-above">
          <div class="container">
              <div class="row">
                  <div class="footer-col col-md-6">
                      <h3>Community contact</h3>
                      <p class="text-justify">Feel free to post issues or open pull requests in any of the <a href="http://github.com/grimoirelab">Grimoire Lab repositories</a>, or join <code>#GrimoireLab</code> IRC channel in <a href="https://freenode.net/">Freenode</a> or <a href="https://lists.linuxfoundation.org/mailman/listinfo/grimoirelab-discussions">Grimoire Lab mailing list</a> to get in touch with the <em>community</em>.</p>
                  </div>
                  <div class="footer-col col-md-6">
                      <h3>Join us!</h3>
                      <ul class="list-inline">
                        <li>
                            <a href="http://github.com/grimoirelab" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://lists.linuxfoundation.org/mailman/listinfo/grimoirelab-discussions" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope-o"></i></a>
                        </li>
                        <li>
                          <a href="http://webchat.freenode.net/?channels=metrics-grimoire" class="btn-social btn-outline"><i class="fa fa-fw fa-commenting-o"></i></a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      Copyright &copy; Bitergia 2017
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
