<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <h1>Grimoire Lab</h1>
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills">Free, open source tools for <br/><strong>software development analytics</strong></span>
                    </div>
                </div>
                <div class="col-lg-6">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HSxS7PcpyjY" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
              </div>
            </div>
        </div>
    </header>
