<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="img/wizard-y.svg" height="250" alt="">
                    <h1>Grimoire Lab</h1>
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills" style="text-transform: uppercase;">Free, libre, open source tools for <br/><strong>software development analytics</strong></span>
                    </div>
                </div>
                <div class="col-lg-6">
                  <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 1em;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HSxS7PcpyjY" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="text-center"><a href="#components" class="btn btn-primary btn-lg page-scroll">Learn more <i class="fa fa-arrow-circle-down"></i></a></div>
                </div>
            </div>
        </div>
    </header>
