<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Grimoire Lab</span>
                        <hr class="star-light">
                        <span class="skills">Free, open source tools for software development analytics</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
