# Config values format
#
# List: [val1, val2 ...]
# Int: int_value
# Int as string: "Int"
# List as string: "[val1, val2 ...]"
# String: string_value
# None: None, none
# Boolean: true, True, False, false

[general]
short_name = GrimoireLab
update = true
# in seconds
sleep = 0
min_update_delay = 10
debug = true
# /var/log/mordred/
logs_dir = /logs
kibana = "6"

[projects]
projects_file = /projects.json

[es_collection]
url = http://localhost:9200
user =
password =

[es_enrichment]
url = http://127.0.0.1:9200
user =
password =

# Refresh identities and projects for all items after enrichment
autorefresh = true
studies = true

[sortinghat]
host = localhost
user = root
password =
database = grimoirelab_sh
load_orgs = false
#orgs_file = /home/bitergia/conf/orgs_file

# Identities file in GrimoireLab format
identities_file = [/identities.yaml]
identities_format = grimoirelab

# see: sortinghat unify --help
unify_method =
# commonly: Unknown
unaffiliated_group = Unknown
affiliate = True
autoprofile = [customer,git,github]
matching = [email]
sleep_for = 10
bots_names = [Beloved Bot]

[panels]
kibiter_time_from= "now-90d"
kibiter_default_index= "git"

[phases]
collection = true
identities = true
enrichment = true
panels = true

[git]
raw_index = git_grimoirelab-raw
enriched_index = git_grimoirelab

[github]
raw_index = github_grimoirelab-raw
enriched_index = github_grimoirelab
api-token = XXX
sleep-for-rate = true

[pipermail]
raw_index = mail_grimoirelab-raw
enriched_index = mail_grimoirelab
